SpringBootWSDemo/src/main/resources/service.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.lzg.test.com" targetNamespace="http://www.lzg.test.com"
	elementFormDefault="unqualified">

	<xs:element name="doService">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="serviceCode" type="xs:string" />
				<xs:element minOccurs="0" name="reqXml" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="doServiceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="return" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>